@charset "utf-8";

body {
  color: white;
  background: url(../images/background.png);
}

#content {
	margin-left: 30px;
}

#header {
	height: 100px;
  margin-top: 30px;
	text-align: left;
  color: #6b6b6b;
}
#header span {
  color: #ebebeb;
}


#todo_list p {
}
#todo_list ul {
  list-style: none;
}
#todo_list li {
  max-width: 565px;
  white-space: pre;
  color: #d1d1d1;
  background-color: #1b1b1b;
  position:relative;
}
#todo_list .ymd {
  position: absolute;
  top: 3px;
  right: 3px; 
  font-size: 75%;
}


#completed_list {
  font-size: 80%;
}
#completed_list ul {
  list-style: none;
}
#completed_list li {
  color: #262626;
  background-color: #c3c3c3;
  max-width: 565px;
  white-space: pre;
  position:relative;
}
#completed_list .ymd {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 75%;
}


#footer {
}




 
